.no-background-ahref{
    font-size: 48px;
    color: white;
    text-decoration: none;
    margin-right: 52px;
}

.rose-background-btn{
    width: 194px;
    height: 68px;
    background-color: #FF61B6;
    color: black;
    font-size: 48px;
    font-family: 'Akaya Kanadaka', system-ui;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}