nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0 25px 0;
    background-color: #2F004B;
}

.nav-logo{
    width: 83px;
    height: 99px;
}

.nav-main-title{
    color: white;
    margin-left: 48px;
    font-size: 48px;
    font-weight: 400;
}

.nav-first-div{
    margin-left: 34px;
    display: flex;
    align-items: center;
}

.nav-second-div{
    margin-right: 61px;
}