nav{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.nav-first-div{
    margin-left: 34px;
    display: flex;
    align-items: center;
}

.nav-logo{
    width: 83px;
    height: 99px;
}

.nav-main-title{
    color: white;
    margin-left: 48px;
    font-size: 48px;
    font-weight: 400;
}