.inputs{
    margin-top: 31px;
}

.a_input{
    margin-top: 33px;
}

.default-input-layout{
    display: flex;
    flex-direction: column;
}

.birthdate{
    margin-top: 39px;
}

.selects{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.a-select{
    margin-right: 53px;
}

.a-btn-spacing{
    margin-top: 65px;
}