.title-label{
    color: white;
    font-size: 38px;
    font-weight: 400;
    margin-top: 25px;
}

.row-element{
    margin-top: 33px;
    display: flex;
    flex-direction: column;
}

.btn-spacing{
    margin-top: 65px;
}